grf {
  grfid:                  "{{.Identifier}}";
  name:                   string(STR_GRF_NAME);
  desc:                   string(STR_GRF_DESCRIPTION);
  version:                {{.Version}};
  min_compatible_version: {{.MinCompatibleVersion}};{{if ne .ParameterData ""}}
  {{.ParameterData}}{{end}}
}

