spriteset (spriteset_{{.id}}, "example/img/{{.id}}.png" ) { example_template() }

item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
    {{ template "vehicle_props" . }}

    graphics {
        default: spriteset_{{.id}};
        additional_text: return {{.additional_text_string}};
    }
}

