spriteset (spriteset_{{.id}}, "example/img/{{.id}}.png" )           { example_template() }
spriteset (spriteset_{{.id}}_coal, "example/img/{{.id}}_coal.png" ) { example_template() }
spriteset (spriteset_{{.id}}_ore, "example/img/{{.id}}_ore.png" )   { example_template() }


spritegroup spritegroup_{{.id}}_coal {
    loading: [ spriteset_{{.id}}, spriteset_{{.id}}_coal ];
    loaded: [ spriteset_{{.id}}, spriteset_{{.id}}_coal ];
}

spritegroup spritegroup_{{.id}}_ore {
    loading: [ spriteset_{{.id}}, spriteset_{{.id}}_ore ];
    loaded: [ spriteset_{{.id}}, spriteset_{{.id}}_ore ];
}


item(FEAT_ROADVEHS, {{.id}}, {{.numeric_id}}) {
    {{ template "vehicle_props" . }}

    graphics {
        default: spriteset_{{.id}};
        COAL: spritegroup_{{.id}}_coal;
        IORE: spritegroup_{{.id}}_ore;
        additional_text: return {{.additional_text_string}};
    }
}

